@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";


.capture-stable * {
  transition: none !important;
  animation: none !important;
}

.capture-stable .MuiChip-root {
  white-space: nowrap !important;
  font-variant-ligatures: none !important;
  font-feature-settings: "liga" 0 !important;
  /* A fixed line-height to avoid layout jitter */
  line-height: 1.1 !important;
}

.mb-20{
  margin-bottom: 20px !important;
}